#doctor {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#doctor > * {
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
}

#doctor-header {
  width: 100%;
  height: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#doctor-header > * {
  margin-left: 0.5vw;
  font-size: 1.3vw;
  text-decoration: none;
  color: #0e3386;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10%;
}

#doctor-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

li:hover {
  cursor: pointer;
  background-color: rgb(48, 186, 143, 0.1);
}

#doctor-container-header {
  width: 100%;
  height: 3vw;
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #0e3386;
}

#doctor-item-header {
  width: 100%;
  background-color: #0e3386;
  color: white;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#doctor-item-header > span,
li > span {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3vw;
  justify-content: center;
}

.doctor-item-name {
  width: 25%;
}

.doctor-item-email {
  width: 20%;
}

.doctor-item-age {
  width: 10%;
}

.doctor-item-sex {
  width: 13%;
}
.doctor-item-bmi {
  width: 15%;
}

.doctor-patient {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#doctor-patient-list {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: flex-start;
}

li {
  width: 100%;
  height: 3vw;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#doctor-list-footer {
  width: 100%;
  height: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#doctor-list-footer > * {
  width: 10%;
  height: 80%;
  margin-left: 1vw;
  font-size: 1.3vw;
  background-color: #0e3386;
  border: thin solid transparent;
  color: white;
}

#doctor-search {
  width: 100%;
  height: 60vw;
}

#doctor-search * {
  border: thin solid #0e3386;
}

#doctor-search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 5vw;
}

/* #doctor-search-form > * {
  height: 4vw;
} */

#doctor-search-form > input {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  height: 4vw;
  border-top-left-radius: 5vw;
  border-bottom-left-radius: 5vw;
  justify-content: center;
  text-align: center;
  border: thin solid #0e3386;
}
#doctor-search-form > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.2vw;
  width: 10%;
  background-color: #0e3386;
  color: white;
  border-top-right-radius: 5vw;
  border-bottom-right-radius: 5vw;
  justify-content: center;
  text-align: center;
  border: thin solid #0e3386;
}

#doctor-search-form > input:focus {
  outline: none;
}

#doctor-search-cont {
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
