.nav {
    display: flex;
    justify-content: center;
    text-align: center; 
    align-items: center;
    width: 100%;
    background-color: #001529;
    height: 50px;
}

.nav li {
    list-style: none;
    padding-left: 1rem;
}

.nav li a {
    text-decoration: none;
    color: #0071bd;
}

.nav li a:hover {
    color: #fff;
}