.dashboard {
    padding-top: 25rem;
    padding-bottom: 25rem;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .dashboard h1 {
    color: #0f3460;
  }
  .dashboard__container {
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    background-color: #0f3460;
    padding: 30px;
    border-radius: 8px;
  }
  .dashboard__btn {
    padding: 10px;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #0f3460;
    cursor: pointer;
  }
  .dashboard div {
    margin-top: 7px;
  }