.reset {
    padding-top: 20rem;
    padding-bottom: 10rem;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #0f3460;
    padding: 30px;
    border-radius: 8px;
    
  }
  .reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #0f3460;
    cursor: pointer;
  }
  .reset__btn:hover {
    color: #0f3460;
    background-color: white;
  }
  .reset div {
    margin-top: 7px;
  }